ul,
ol,
menu {
    list-style: none;
}

a {
    text-decoration: none !important;
    color: currentColor !important;
}

img {
    max-width: 100%;
}

// button
@import './VarColor.scss';

.button_default {
    width: 110px;
    line-height: 45px;
    color: white;
    background-color: $main-button-color;
    border: none;
    border-radius: 3px;
    // padding: 0 20px;
    font-size: 14px;
    font-family: $second-font-family;
    transition: all 300ms;
}

.button_default:hover {
    background-color: $button-hover-color;
    color: white;
}

// title,description sections
.title {
    font-family: $main-font-family;
    color: $main-text-color;
    font-size: 40px;

}

.little_title {
    font-family: $main-font-family;
    // color: #1E1E1E;
    font-size: 20px;
}

.description {
    font-family: $second-font-family;
    color: $small-text-color;
    font-size: 16px;
    margin-bottom: 55px;
}

// container x titolo sezione
.content {
    max-width: 560px;
    margin: 0 auto;
    text-align: center;
}