// BACKGROUND

$button-hover-color: #1E1E1E;
$main-button-color : #377DFF;
$jumbo-bg-color: #F2F7FF;
$light-gray:#00000026;

// TEXT COLOR

$button-text-colo: #FFFFFF;
$active-icon-color: #377DFF;
$small-text-color: #8E989F;
$main-text-color: #1E1E1E;

// FONT
@import "~@fontsource/josefin-sans/index.css";
@import "~@fontsource/poppins/index.css";

$main-font-family: "Josefin Sans", sans-serif; 
$second-font-family: "Poppins", sans-serif;


